{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
		<div class="container-fluid">  
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item">
					<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
				</li>
				{% endfor %}
			</ol>
		</div>
  	</div>
  	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible">
				<i class="fa-solid fa-circle-exclamation"></i>
				{{ error_warning }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" />
			</div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success alert-dismissible">
				<i class="fa fa-check-circle"></i>
				{{ success }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" />
			</div>
		{% endif %}
		<div class="card">
			<div class="card-header">
				<i class="fa fa-pencil"></i> {{ text_form }}
			</div>
			<div class="card-body">
				<form action="{{ action }}" data-oc-toggle="ajax" method="post" id="form-razorpay-addplan">
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-customer">{{ entry_plan_name }}</label>
							<div class="col-sm-10">
								<input type="text" name="plan_name" value="{{ plan_name }}" placeholder="{{ entry_plan_name }}" id="input-customer" class="form-control" />
								<input type="hidden" name="entity_id" value="{{ entity_id }}" />
								{% if error_plan_name %}
									<div class="text-danger">{{ error_plan_name }}</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-customer-group">{{ entry_plan_desc }}</label>
							<div class="col-sm-10">
							<textarea name="plan_desc" rows="5" placeholder="{{ entry_plan_desc }}" id="input-plan-desc" class="form-control">{{ plan_desc }}</textarea>
							{% if error_plan_desc %}
							<div class="text-danger">{{ error_plan_desc }}</div>
							{% endif %}
							</div>
						</div>
					</div>
					<div  id="tab-product">
						<div class="form-group required">
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product_name }}">{{ entry_product_name }}</span></label>
								<div class="col-sm-10">
									<input type="text" name="product-name" value="" placeholder="{{ entry_product_name }}" id="input-product" data-oc-target="autocomplete_product" class="form-control" autocomplete="off"/>
									<input type="hidden" name="product_id" value="" />
									<ul id="autocomplete_product" class="dropdown-menu"></ul>
									{% if error_product_name %}
										<div class="text-danger">{{ error_product_name }}</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-plan-type"><span data-toggle="tooltip" title="{{ help_plan_type }}">{{ entry_plan_type }}</span></label>
							<div class="col-sm-10">
								<select name="plan_type" id="input-plan-type" class="form-control">
									<option value="daily" selected="selected">{{ text_daily}}</option>
									<option value="weekly">{{ text_weekly }}</option>
									<option value="monthly">{{ text_monthly }}</option>
									<option value="yearly">{{ text_yearly }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-billing-frequency"><span data-toggle="tooltip" title="{{ help_billing_frequency }}">{{ entry_billing_frequency }}</span></label>
							<div class="col-sm-10">
								<input type="text" name="billing_frequency" placeholder="{{ entry_billing_frequency }}"  value="{{ plan_frequency }}" id="input-billing-amount" class="form-control" />
								{% if error_billing_frequency %}
								<div class="text-danger">{{ error_billing_frequency }}</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-billing-cycle">{{ entry_billing_cycle }}</label>
							<div class="col-sm-10">
								<input type="text" name="billing_cycle"  placeholder="{{ entry_billing_cycle }}" value="{{ plan_bill_cycle }}" id="input-billing-cycle" class="form-control" />
								{% if error_billing_cycle %}
									<div class="text-danger">{{ error_billing_cycle }}</div>
								{% endif %}
							</div>
					</div>
					</div>
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-billing-amount">{{ entry_billing_amount }}</label>
							<div class="col-sm-10">
								<input type="text" name="billing_amount" placeholder="{{ entry_billing_amount }}"  value="{{ plan_bill_amount }}" id="input-billing-amount" class="form-control" />
								{% if error_billing_amount %}
									<div class="text-danger">{{ error_billing_amount }}</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="form-group ">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-trial">{{ entry_trial }}</label>
							<div class="col-sm-10">
							<input type="text" name="plan_trial" placeholder="{{ entry_trial }}"  value="{{ plan_trial }}" id="input-trial" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group ">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-plan-addons">{{ entry_plan_addons }}</label>
							<div class="col-sm-10">
							<input type="text" name="plan_addons" placeholder="{{ entry_plan_addons }}"  value="{{ plan_addons }}" id="input-plan-addons" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group required">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-billing-cycle">{{ entry_plan_status }}</label>
							<div class="col-sm-10">
							<select name="plan_status" id="input-status" class="form-control">
								{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
							</div>
						</div>
					</div>
					<div class="float-end">
						<button form="form-razorpay-addplan" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
						<a href="{{ cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
					</div>
				</form>
			</div>	
		</div>
	</div>
</div>
<script type="text/javascript"><!--
//auto load product id
$('#input-product').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product.autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				{# console.log(json) #}
				response($.map(json, function(item) {

					return {
						label: item['name'],
						value: item['product_id'],
						model: item['model'],
						option: item['option'],
						price: item['price']
					}
				}));
			}
		});
	},
	'select': function(item) {
		console.log(item);
		$('#tab-product input[name=\'product-name\']').val(item['label']);
		$('#tab-product input[name=\'product_id\']').val(item['value']);
		//$('#tab-product input[name=\'product-price\']').val(item['label']);
	}
});
//--></script>
{{ footer }}